# cygwin example. You probably don't want to backup the Windows-folder. But anyways ...
SOURCES=(/cygdrive/c/Windows )
# on the target machine
TARGET=/mnt/server/backup_laptop

# check for mountpoint "/mnt/server" whether it if in the mountpoint list
TMPMOUNT=`mount | grep "/mnt/server"` > /dev/null
if [ ! $? = 0 ]; then
	# not in the mountpoint list: mount it to the expected location
	mount //server/home /mnt/server >> $SUMMARYLOG
else
	echo "$0: server mounted!"
fi

# re-check whether it is in the mountpoint list.
TMPMOUNT=`mount | grep "/mnt/server"` > /dev/null
if [ ! $? = 0 ]; then
	# fail, as automatic mounting failed above.
	echo "$0: server not mounted!"
	mexit 1
fi